<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<body style="background-color:#333333">
<%= render 'home/navbar'  %>
  <div class="container">
    <%= render 'home/flash' %>
  <%= yield %>
</div>
</body>
</html>
